<div class="container">

  <div class="jumbotron text-center row">
    <h1>Calendar</h1>

      <form class="form col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="form-group">
              <label>Start date:</label>
              <input class="form-control" ng-model="ctrl.calendar.start_date" type="date"/>
          </div>
          <div class="form-group">
              <label>Number of days:</label>
              <input class="form-control" ng-model="ctrl.calendar.days_number" type="number"/>
          </div>
          <div class="form-group">
              <label>Country code:</label>
              <input class="form-control" ng-model="ctrl.calendar.country_code" type="text"/>
          </div>
          <div class="form-group">
              <button class="btn btn-primary" type="submit" ng-click="ctrl.generateCalendar($event)">Generate calendar</button>
          </div>
      </form>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
