<div class="container">

    <div class="jumbotron text-center row">
        <h1>Calendar</h1>

        <form class="form col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <label>Start date:</label>
                <input class="form-control" ng-model="ctrl.calendar.start_date" type="date"/>
            </div>
            <div class="form-group">
                <label>Number of days:</label>
                <input class="form-control" ng-model="ctrl.calendar.days_number" type="number"/>
            </div>
            <div class="form-group">
                <label>Country code:</label>
                <input class="form-control" ng-model="ctrl.calendar.country_code" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" ng-click="ctrl.generateCalendar($event)">Generate calendar</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
            <div class="thumbnail">
                <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
                <div class="caption">
                    <h3>{{ awesomeThing.title }}</h3>
                    <p>{{ awesomeThing.description }}</p>
                    <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1" ng-repeat="month in ctrl.months">
            <table class="table">
                <thead>
                    <tr class="text-center">{{month.name}}</tr>
                    <tr>
                        <th class="headerdays">Sun</th>
                        <th class="headerdays">Mon</th>
                        <th class="headerdays">Tue</th>
                        <th class="headerdays">Wed</th>
                        <th class="headerdays">Thu</th>
                        <th class="headerdays">Fri</th>
                        <th class="headerdays">Sat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="week in month.weeks">
                        <th class="">{{week.days[0]}}</th>
                        <th class="">{{week.days[1]}}</th>
                        <th class="">{{week.days[2]}}</th>
                        <th class="">{{week.days[3]}}</th>
                        <th class="">{{week.days[4]}}</th>
                        <th class="">{{week.days[5]}}</th>
                        <th class="">{{week.days[6]}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12" ng-if="ctrl.holidays.holidays">
            <h3 class="col-xs-12">Holidays:</h3>
            <div class="col-xs-12 col-sm-5" ng-repeat="holiday in ctrl.holidays.holidays">
                <div ng-repeat="day in holiday"class="col-xs-12">
                    <label>Date: </label><span>{{day.date}}</span><br/>
                    <label>Name: </label><span>{{day.name}}</span>
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>

</div>
